<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Tucker's Trivia Game!!! </h1>
    <p class="col-md-10">This game will contains some questions and many categories. Enjoy your game. Please send us your feedback to perform our game.</p>
    <h4 style="text-align: center">Sign In:</h4>
      <div class="name col-md-4 my-3">
        <label for="">Enter your Username:</label>
        <input #name style="text-align: center" type="text" class="form-control" required>
      </div>
      <div class="name col-md-4 my-3">
        <label for="">Enter your Password:</label>
        <input #name style="text-align: center" type="text" class="form-control" required>
      </div>
</div>
