#questions
{
    text-align: center;
}

.categoryfont
{
    display: block;
    position: relative;
    text-align: center;
    font-size: 19px;
    font-weight: 20cm;
;

}

.questionfont
{
    font-size: 25px;
    display: block;
    position: relative;
    font-style:italic;
    margin-left: 30%;
    margin-right: 30%;
}

.difficulty
{
    font-size: 19px;
    display: block;
    position: relative;
    text-align: center;

}