<div class="container mt-5">
    <div class="card"> 
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="../../assets/img/logo.png" alt="logo" width="90">
            </div>
            <div class="quiz-header">
                <h4 style="font-family: cursive;"> Tucker's Trivia Game</h4>
                <span style="font-style: italic;">Welcome Lara</span>
            </div>
        </div>
        <div class="d-flex justify-content-around py-3">
            <div class="score">
                <h5>500 Points</h5>
            </div>
            <div class="question-remain">
                <span style="font-style: italic;">Question 1 of 5</span>
            </div>
            <div class="timer">
                <h5>30 sec ⏰</h5>
            </div>
        </div>
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="question">
              <div class="card">
                  <h3>Which email service is owned by Microsoft?</h3>
              </div>
          </div>
          <div class="options">
              <ol>
                  <li><div class="card">Gmail</div></li>
                  <li><div class="card">Hotmail</div></li>
                  <li><div class="card">Yahoo Mail</div></li>
                  <li><div class="card">Zoho Mail</div></li>
              </ol>
          </div>
          <div class="d-flex justify-content-between">
              <button class="btn"><i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i></button>
              <button class="btn"><i class="fa text-primary fa-refresh fa-3x" aria-hidden="true"></i></button>
              <button class="btn"><i class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i></button>
             
          </div>
    </div>

</div>
