<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\MyMic\Revature\trivia\FrontEnd\AngularTrivia\src\app\homepage\homepage.component.scss">
    <title>Category</title>
</head>
<body>


    <section id="Category" class="category">
        <div class="outside-flex">
            <h2>Categories</h2>
            <div class="inside-flex">

                    <button class="grid-item-anime" routerLink="/questions" (click)="startGame(31)"></button>
                    
                    <button class="grid-item-books"  routerLink="/questions" (click)="startGame(10)"></button>

                    <button class="grid-item-history"  routerLink="/questions" (click)="startGame(23)"></button>

                    <button class="grid-item-animals"  routerLink="/questions" (click)="startGame(27)"></button>

                    <button class="grid-item-science"  routerLink="/questions" (click)="startGame(17)"></button>

                    <button class="grid-item-geography"  routerLink="/questions" (click)="startGame(22)"></button>

                    <button class="grid-item-mythology"  routerLink="/questions" (click)="startGame(20)"></button>

                    <button class="grid-item-film"  routerLink="/questions" (click)="startGame(11)"></button>

                    <button class="grid-item-sports"  routerLink="/questions" (click)="startGame(21)"></button>
                  </div>
            </div>
    </section>

</body>
</html>



