<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\MyMic\Revature\trivia\FrontEnd\AngularTrivia\src\app\homepage\homepage.component.scss">
    <title>Category</title>
</head>
<body>


    <section id="Category" class="category">
        <div class="outside-flex">
            <h2>Categories</h2>
            <div class="inside-flex">

                <button class="grid-item-anime" (click)="SendCategory(31)"></button>
                
                <button class="grid-item-books"(click)="SendCategory(10)"></button>

                <button class="grid-item-history"(click)="SendCategory(23)"></button>

                <button class="grid-item-animals"(click)="SendCategory(27)"></button>

                <button class="grid-item-science"(click)="SendCategory(17)"></button>

                <button class="grid-item-geography"(click)="SendCategory(22)"></button>

                <button class="grid-item-mythology"(click)="SendCategory(20)"></button>

                <button class="grid-item-film"(click)="SendCategory(11)"></button>

                <button class="grid-item-sports"(click)="SendCategory(21)"></button>
            </div>
        </div>
    </section>

</body>
</html>



