<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\MyMic\Revature\trivia\FrontEnd\AngularTrivia\src\app\homepage\homepage.component.scss">
    <title>Category</title>
</head>
<body>


    <section id="Category" class="category">
        <div class="outside-flex">
            <h2>Categories</h2>
            <div class="inside-flex">

                    <button class="grid-item-anime"></button>

                    <button class="grid-item-books"></button>

                    <button class="grid-item-history"></button>

                    <button class="grid-item-animals"></button>

                    <button class="grid-item-science"></button>

                    <button class="grid-item-geography"></button>

                    <button class="grid-item-mythology"></button>

                    <button class="grid-item-tv"></button>

                    <button class="grid-item-sports"></button>
                  </div>
            </div>
    </section>

</body>
</html>



