<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\MyMic\Revature\trivia\FrontEnd\AngularTrivia\src\app\homepage\homepage.component.scss">
    <title>Brandon Childs </title>
</head>
<body>


    <section id="Games" class="games">
        <div class="outside-flex">
            <h2>Games</h2>
            <div class="inside-flex">
                    <div class="grid-item" href="questions">
                        <button>Daily Question</button>
                    </div>

                    <div class="grid-item2">
                        <button>Trivia</button>
                    </div>
                </div>
            </div>
    </section>

</body>
</html>


