<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\MyMic\Revature\trivia\FrontEnd\AngularTrivia\src\app\homepage\homepage.component.scss">
    <title>Games</title>
  </head>
<body>


    <section id="Games" class="games">
        <div class="outside-flex">
            <h2>Games</h2>
                <div class="inside-flex">

                  <form routerLink="#">
                    <button class ="grid-item" style="width:300px;height:200px;"></button>
                  </form>

                  <form routerLink="/welcome">
                    <button class ="grid-item2" style="width:300px;height:200px;" ></button>
                  </form>

                </div>
            </div>
    </section>

</body>
</html>


